<template name="appointment">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form id="newAppointment">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">New Appointment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class='col-sm-6'>
                                                <label>Date: </label>
                                                <input type="date" class="form-control" name="date" required/>
                                            </div>
                                            <div class='col-sm-6'>
                                                <label>Time: </label>
                                                <input type="time" class="form-control" name="time" required/>
                                            </div>
                                        </div>

                                    </div>
                                    <!--{{>dpReplacement}}-->
                                </div>
                                <div>
                                    <div class="form-group">
                                        <label>Appointment type: </label>
                                        <input type="text" class="form-control" name="apptType" required>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <label>Parties involved: </label>
                                        <input type="text" class="form-control" name="partiesInvolved" required>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <label>Place: </label>
                                        <input type="text" class="form-control" name="place" required>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="content-container">

        <h1>Appointments
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                    style="float:right">
                New Appointment
            </button>
        </h1>
        <table class="table">
            <tr>
                <th></th>
                <th> Date</th>
                <th> Time</th>
                <th> Appointment type</th>
                <th> Parties involved</th>
                <th> Place</th>
                <th></th>
            </tr>
            {{#each appointments}}
            <tr>
                <td>{{showIndex @index}}</td>
                <td>{{date}}</td>
                <td>{{time}}</td>
                <td>{{type}}</td>
                <td>{{parties}}</td>
                <td>{{place}}</td>
                <td><i class="glyphicon glyphicon-remove delete"></i></td>
            </tr>
            {{/each}}
        </table>


    </div>
</template>