<template name="info">
    <div class="row">
        <div class="col-md-6">
            <div class="content-container">

                <h1>HealthApp</h1>
                <h5>
                    <p>HealthApp is a telehealth application that allows doctors to communicate virtually with
                        patients.
                        This opens
                        up the possibility of patients consulting doctors beyond just their immediate geographical
                        reach
                        and
                        likewise for the doctors.</p>

                    <p>HealthApp is convenient for both patients and doctors because of its IoT features. Selected
                        wearables or
                        health monitoring devices can be linked to HealthApp, recording the essential data for
                        doctors'
                        reference.
                        These are all done with only a need for one time configuration on the patient's side.</p>
                    <p>After enjoying the complete suite of facilities, payments are made simple with payment
                        facility
                        provided by
                        HealthApp.</p>
                </h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="content-container">
                <h1>HealthApp Stroke</h1>
                <h4>
                    HealthApp Stroke aims to help stroke patients go through rehabilitation with convenience.
                </h4>
                <ul>
                    <li><h5>Remote consultation</h5></li>
                    <li><h5>Appointments</h5></li>
                    <li><h5>Integrated calendar</h5></li>
                    <li><h5>Shared Patient information</h5></li>
                    <li><h5>Remote monitoring</h5></li>
                    <li><h5>Technological support</h5></li>
                    <li><h5>After-consultation report</h5></li>
                </ul>
                <h4><br>One single user-friendly platform for all your needs</h4>
            </div>
        </div>
    </div>

</template>